## {{ short_name or full_name }} Imaging Submission Statistics

Summary of archived image (series) submissions by time and patient.  If many images appear on the same date, this may indidate that dates were stripped during local deidentification and were defaulted to the submission time.
