<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
{% if bokeh_div is defined %}
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" rel="stylesheet">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
{{ bokeh_script|safe }}
{% endif %}
</head>
<body>

<xmp theme="spacelab" style="display:none;">
{{ content }}

{% if bokeh_div is defined %}
{{ bokeh_div|safe }}
{% endif %}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>

</body>
</html>