## {{ short_name or full_name }} Self-Service Imaging Submission Portal

There are two methods for submitting a trial subject's imaging studies:

1. Create a new DICOM node on your local PACS server and push the studies directly.
    * Address: `dcm.{{ domain }}`
    * Port: `{{ ports.queue_dicom }}`
    * AE Title: `{{ study_id | upper }}`
    <br><br>
2. Export the study from your local PACS server to a folder, as if you were going to write it to a DVD.  Then, log into the **[anonymization queue][anonq]** and upload the files by drag-and-dropping each folders' contents into the interface. 
3. Export the study from your local PACS server to a zip archive.  Then, use an ftp client (like [Cyberduck][], or [WinSCP Portable][] if you cannot install applications) to log into the [ftp server][ftpd] and upload the zip archive.
4. Export the study from your local PACS on DVD and send it to the central reader.

[anonq]: upload/images/app/explorer.html#upload
[ftp_server]: ftp://ftp.central-imaging.com:21
[cyberduck]: https://cyberduck.io
[winscp_portable]: https://portableapps.com/apps/internet/winscp_portable

In each case, the study will be anonymized (even if you believe the data has been deidentified before leaving your facility) and uploaded to central imaging for review.  The enrolling site research admin, central reader, and study PI will all be notified by email with the assigned GUID and pseudo-identity.
