events {
  worker_connections  1024;
}

http {

  # set client body size to 2M #
  client_max_body_size 8M;

  upstream orthanc {
  {% for key, value in r_proxies.iteritems() %}
    server {{ key }}:{{ value.port }};
  {% endfor %}
  }

  server {
    listen {{ port }};
    location / {
      proxy_pass http://orthanc;
    }
  }
}