<!doctype html>
<title>{{ title }}</title>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='github-markdown.css') }}" >
<style>
    .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }
</style>
</head>

<body>
<div class="markdown-body">

{{ content }}

</div>
</body>